<!DOCTYPE html>
<html>
<head>
    <title>{{ website_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    
    <link rel="stylesheet" href="/static/css/style.css">

    <script>
        function toggleMobileMenu() {
            var x = document.getElementById("mobileNav");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <!-- Navigation (Stays on Top) -->
    <div class="w3-top w3-bar w3-white w3-padding w3-card w3-wide">
        <a href="/" class="w3-bar-item w3-button">{{ website_title }}</a>
        
        <!-- Hamburger menu button -->
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="toggleMobileMenu()">☰</a>
        
        <!-- Desktop navigation -->
        <div class="w3-right w3-hide-small">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            <a href="/about" class="w3-bar-item w3-button">About</a>
            <a href="/contact" class="w3-bar-item w3-button">Contact</a>
        </div>
    </div>

    <!-- Mobile navigation -->
    <div id="mobileNav" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="/about" class="w3-bar-item w3-button">About</a>
        <a href="/contact" class="w3-bar-item w3-button">Contact</a>
    </div>

    {% block body %}
    {% endblock %}

</body>
</html> 